body {
    background-color: #47a0b2;
    color: white;
    
    
}


h1 {
    font-size: 150px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.container-fluid {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15%;
    text-align: center;
   
    font-size: 100px;
}