body {
    background-color: rgba(207, 235, 235, 0.452);
}

.container {
    background-color: rgba(207, 235, 235, 0.452);
    border-radius: 80px;
    color: 3b3bce;

}

h1 {
    color: rgb(117, 143, 173);
    font-family: 'Barlow', sans-serif;
    margin-left: 200px;
    margin-top: 20px;
}

.new-task {
    margin-left: 200px;

}

.inputTask {
    border-radius: 3px solid black;
    margin-top: 10px;
}


h2 {
    margin-left: 200px;
    color: rgb(78, 140, 194);
}



.task-item {
    display: flex;
}


.is-active {
    text-decoration: line-through;
    color: rgb(140, 179, 83);
    font-weight: bold;
}

i {
    color:rgba(25, 0, 255, 0.932)
}

button {
 border-color: rgb(0, 255, 213);   
 border-radius: 10px;
}