body {
    background-color: rgba(207, 235, 235, 0.452);
}


.container {
    background-color: rgba(207, 235, 235, 0.452);
    border-radius: 10px;
    color: #3b3bce;
}


h1 {
    color: rgb(117, 143, 173);
    font-family: 'Barlow', sans-serif;
    margin-top: 20px;
}


p {
    font-size: 40px;
    font-family: 'Barlow', sans-serif;
    padding-left: 10px
}


.inputTask {
    border-radius: 3px solid black;
    margin-top: 10px;
}


h2 {
    color: rgb(78, 140, 194);
}


.task-item {
    display: flex;
}


.is-active {
    text-decoration: line-through;
    color: rgb(0, 226, 49);
}


i {
    color: rgba(169, 163, 228, 0.932);

}


button {
    border-color: rgba(169, 163, 228, 0.932);
    width: 35px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    
    margin-left: 5px;
}


.btn {
    margin-top: 0;
    margin-left: 5px;
    width: 35px;
    height: 40px;
}